@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Space Grotesk', sans-serif !important;
    /* overflow-x: hidden !important; */
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #0A192F;
    font-family: 'Space Grotesk', sans-serif !important;
    overflow-x: hidden !important;
}
.top-pic{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.projectTopic{
    color: #64ffda;
}
.beneath{
    position: relative;
    bottom: 25rem !important;
}
.works{
    background-color: #0A192f;
    height: 2.5rem;
    width: 8rem;
    border:thin solid #64ffda !important;
    color: #64ffda !important;
    border-radius: 5px;
    font-size: 1rem !important;
    margin-left: 3rem;
}
.works:hover{
    background-color: #133040;
}
hr{
    background-color: #95a0c1 !important;
    height: 3px;
}
.small-nav{
    display: none;
}
.large-nav{
    visibility: visible;
    background-color: #0a192f;
}
.nav-link{
    color: #c5efef;
    font-weight: bold;
    font-size: 20px;
}
ul button{
    background: none;
    color: white;
    border: thin solid rgb(219, 180, 180);
    border-radius: 8px;
    font-size: 19px;
}
ul button:hover, .nav-link:hover{
    background-color: none;
    color: #64ffda;
    font-weight: bold;
}
hr{
    background-color: rgb(211, 150, 150);
}
.loremi{
    color: #0A192F !important;
}
h1{
    font-size: 80px;
    color: #ccd6f6;
}
h2, h3{
    animation-name: slide;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
.hi{
    color: #64ffda !important;
    animation-name: slide;
    animation-duration: 2.3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

h2{
    color: #8892b0;
    font-size: 72px;
}
.projectimg{
    height: 170px;
    width: 300px;
}
.more{
    background-color: #95a0c1;
    color: #020915;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
@keyframes slide {
    0% {
        transform: translateX(-30px);
    }
    50% {
        transform: translateX(105px)
    }
}
.container p{
    line-height: 42px;
    letter-spacing: 1px;
}
h3{
    color: rgb(247, 222, 222);
    font-size: 60px;
}
span{
    color: #64ffda;
    font-size: 22px;
}
.mypic{
    height: 450px;
    border-radius: 50%;
    position: relative;
    top: 100px;
}
.unicolor{
    /* color: rgb(241, 233, 233); */
    color: #ccd6f6;
}
#skills .row{
    display: flex;
    justify-content: center;
}
.skillsimg{
    height: 150px;
    width: 150px;
}
.skillsimg, .cssicon{
    animation-name: scaler;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
}
.d-md-flex{
    padding: 40px 20px 40px 30px;
    height: 80vh !important;
    color: #4d9e9e;
}
.col-6{
    height: 20vh;
}
.livesite{
   background-color: #64ffda;
   color: #0A192F;
    border-radius: 10px;
    height: 48px;
    border: none;
}
input{
    background-color: #95a0c1;
    border: thin solid white;
    border-radius: 10px;
    color: #0A192F;
}
::placeholder{
    color: #0A192F;
}
textarea{
    height: 25vh;
    background-color: #95a0c1;
    border-radius: 10px;
}
.checkout{
    color: #4d9e9e ;
}
.submitbtn{
    background-color: #4d9e9e ;
    color: #061326;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 8px;
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes scale {
    from {
        transform: scale(75%);
    }
    to {
        transform: scale(100%);
    }
}
@keyframes scaler {
    from {
        transform: scale(50%);
    }
    to {
        transform: scale(100%);
    }
}
.projectimg{border-radius: 15px;}
.d-md-flex{
    border: thin solid #8892b0;
    border-radius: 22px;
}
@media screen  and (max-width: 1000px) {
    .small-nav{
        display: block;
        background-color: #18335c;
        padding-top: 3px;
        padding-bottom: 3px;
        overflow-x: hidden !important;
    }
    .large-nav{
        display: none;
    }
    ul{
        height: 600px;
        
    }
    ul li a{
        margin-top: 25%;
        color: rgb(39, 2, 2) !important;
        font-weight: bold !important;
        font-size: 27px;
    }
    ul button{
        width: 100px;
        padding: 9px;
        margin-top: 25%;
    }
    .inprogress{
        font-size: 13px;
    }
}
@media screen and (max-width:900px) {
    .d-md-none{
        color: rgb(39, 2, 2);
    }
    .container{
        width: 93%;
        /* text-align: center; */
    }
    h1{
        font-size: 33px;
    }
    h2{
        font-size: 29px;
    }
    .navbar-toggler{
        border: thin solid #b1bbdc !important;
        border-radius: 18px;
        height: 40px;
    }
    .navbar-collapse{
       position: relative;
       right: 55%;
    }
    ul{
        height: 400px;
    }
    ul li a{
        margin-top: 25%;
    }
    ul button{
        width: 100px;
        padding: 9px;
        margin-top: 25%;
    }
    .works{
        margin-left: 0rem ;
        font-size: 0.6rem !important;
        width: 8.5rem;
    }
}
@media screen and (max-width:760px) {
    body{
       margin-right: 0rem;
    }
    ul{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 500px;
        height: 650px;
        /* background-color: rgb(182, 101, 101); */
        background-color: #0a192f;
        
    }
    ul li a{
        margin-left: 74%;
        text-align: center;
        /* color: rgb(39, 2, 2) !important; */
        color: #8892b0 !important;
        margin-top: 48px;
        font-size: 24px !important;
        font-weight: bold !important;
    }
    ul button{
        margin-left: 71%;
        text-align: center;
        margin-top: 50px;
        border: thin solid rgb(39, 2, 2);
        color: rgb(39, 2, 2);
    }
    h3{
        font-size: 38px;
    }
    .mypic{
        height: 330px;
        width: 350px;
        border-radius: 50%;
        position: relative;
        top: -20px;
    }
    .skillsimg{
        height: 70px;
        width: 80px;
    }
    .cssicon{
        height: 100px;
        width: 140px;
    }
    .flexbox{
        display: flex;
        justify-content: space-around;
    }
    .flexbox div p{
        color: #4d9e9e;
    }
    #projects div{
        width: 98%;
    }
    #projects h3{
        margin-top: 15vh;
    }
    .nav-link, .px-3{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px !important;
        animation-name: slide;
        animation-duration: 1.2s;
        animation-iteration-count: 1;
        /* animation-direction: normal; */
        animation-timing-function: ease-out;
        color: #8892b0;
        /* color: rgb(15, 0, 0) !important; */
    }
    .d-md-flex{
        width: 100% !important;
        max-height: 70vh !important;
        margin-left: 20px !important;
        border: none !important;
    }
    .node{
        position: relative;
        left: 1rem;
    }
    .touchty{
        position: relative;
        left: 1rem;
    }
    @keyframes slide {
        0% {
            transform: translateX(-10px);
        }
        50% {
            transform: translateX(55px)
        }
    }
    
}

@media screen and (max-width: 550px) {
    .top-pic{
        height: 52px;
        width: 52px;
    }
    .fontreduce{
        font-size: 15px !important;
        line-height: 35px !important;
    }
    .fs-3{font-size: 18px !important;}
    .d-md-flex{
        border: none !important;
        border-radius: 30px;
        /* border: none !important; */
        height: 105vh !important;
        width: 97% !important;
        margin: auto;
    }
    .description, .whatido{
        position: relative;
        bottom: 10px;
    }
    .hi{
        position: relative;
        bottom: 40px;
    }
    .text-whit{
        position: relative;
        bottom: 55px;
    }
    .projectimg{
        width: 97%;
        border-radius: 15px;
    }
    .projectdetails{
        font-size: 17px !important;
        line-height: 37px !important;
    }
    .contactdiv{
        width: 100%;
    }
    input, textarea, .submitbtn{
        width: 90% !important;
        margin: auto;
        border-radius: 20px;
    }
    textarea{border-radius: 8px !important;}
    .socialsimg{
        width: 90px !important;
        height: 90px;
    }
}

@media screen and (min-width: 900px) {
    .container div{
        height: 105vh;
    }
    #skills{
        margin-top: 150px !important;
    }
    .imgcont{
        height: 36vh !important;
    }
    #myskills{
        margin-top: 150px !important;
    }
    .socialsimg{
        position: relative;
        bottom: 200px !important;
    }
}

@media screen and (min-width:900px) and (max-width:1050px) {
    .container div{
        height: 120vh;
    }
    .issue{
        height: 200vh !important;
    }
    #projects{
        margin-top: -100px !important;
    }
}
@media screen and (max-width: 350px) {
    .small-nav{
        width: 100%;
    }
    ul{
        width: 400px;
    }
    .d-md-flex{
       max-height: 90vh !important;
        line-height: 50px;
    }
     .projectdetails{
        line-height: 25px !important;
        font-size: 14px !important;
    }
}
.repo{
    background-color: #0A192F !important;
    color: #64ffda !important;
    border: thin solid #64ffda !important;
    color: white !important;
}